@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap');

@font-face {
    font-family: 'Death Space';
    src: url(fonts/Death\ Spirit.otf) format(opentype),
        url(fonts/Death\ Spirit.ttf) format(truetype);
    font-weight: normal;
}



body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #6089B4, #62B1CC);
}


header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 400px;
    margin: auto;
    /* background-color: rgb(218, 213, 213); */
    background-image: url(imgs/background2.jpg);
    background-repeat: round;
    background-size: cover;
    margin-top: 5px;
    border-radius: 2px;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.82)
}


header p{
    text-align: justify;
    text-indent: 1.4em;
    font-size: 17px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.261), transparent);
    padding: 3px;
    
}

header h1{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.456);
}

main{
    margin: auto;
    height: 95%;
    width: 89%;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.85);
    padding: 7px;
}

main section{
    background-color: rgba(0, 0, 0, 0.626);
}


    


