@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap');

@font-face {
    font-family: 'Death Space';
    src: url(fonts/Death\ Spirit.otf) format(opentype),
        url(fonts/Death\ Spirit.ttf) format(truetype);
    font-weight: normal;
}



body{
    margin: 0px;
    padding: 0px;
}


header{
    width: 50%;
    height: 400px;
    margin: auto;
    /* background-color: rgb(218, 213, 213); */
    background-image: url(imgs/background\ correto.jpg);
    background-size: 600px;
    background-repeat: repeat;
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;
}
header q{
    margin-left: 80px;

}

header>img{
    margin-left: 160px;
}
 

header p h1{
    padding: 10px;
    text-align: justify;
    text-indent: 2em;
}


